{% extends "alert_base.html" %}

{% block extra_head %}
  <script src="{{ url_for('static', path='/js/custom-dialog/dialog.js') }}" defer></script>
{% endblock extra_head %}

{% block content %}
  <div class="container-fluid">
    <div class="d-flex flex-column pb-3 px-2 vh-100">
      <h1 class="pt-4">Custom dialog</h1>
      <p>This is a fully custom dialog window. Add your own UI here.</p>
      <div class="mt-auto">
        <div class="float-end">
          <button id="cancel" type="button" class="btn btn-outline-secondary">Cancel</button>
          <button id="ok" type="button" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
